version: '3.4'

services:
  app:
    build:
      context: .
      args:
        UID: "${UID}"
        RAILS_ENV: "test"
        BUNDLE_ARGS: ''
    user: "${UID}:${UID}"
    volumes:
      - .:/app
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    ports:
      - "3000:3000"
