body {
  font: normal 17px Liberation Sans, sans-serif;
  color: #0C0D0D;
}
h1 {
  font-size: 35px;
}
h2 {
  font-size: 20px;
}
.subheading {
  font-size: 25px;
  color: gray;
  font-weight: lighter;
}
hr.dark {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}
tr {
  border-bottom:1px solid #B1B4B6;
}
tr:last-child {
  border-bottom: none;
}
th, td {
  padding: 15px 0px 15px 0px;
  text-align: left;
}
td.question {
  font-weight: bold;
  width: 30%;
  word-wrap: break-word
}
